<html>
<head>
    @* Local resource links *@
    <link rel="stylesheet" href="~/Content/leaflet.css" />
    <script src="~/Content/Scripts/leaflet.js"></script>
    <script src="~/Content/Scripts/PlusCodes.js"></script>
    <style>
        palette {border-width: 3px; border-radius: 8px;width: 256px; padding: 10px;}
        palette-entry { border-color:dimgrey; border-width:3px; border-radius:8px; width:48px; height:48px; }
        palette-entry:active{ border-color:black border-width:5px;}
    </style>
</head>
<body>
    <div id="mapid" style="height:100%; z-index:20;">
    </div>
    <script type="text/javascript">
        //This is the Splatter web interface/toy. No login required. Things to do here:
        //list of colors you could select from the splatter palette.
        //Have clicks on the map trigger a splat effect in selected color
        var serverKey = "testingKey"; //TODO: lock this page to only localhost or find an alternate way to obfuscate this.
        var baseSite = window.location.href.toLowerCase().split("/splatter")[0];
        console.log(baseSite);
        var url = baseSite + '/{id}/{z}/{x}/{y}.png?PraxisAuthKey=' + serverKey;
        var baseData = L.tileLayer(url, { id: "MapTile/Slippy/mapTiles", tileSize: 512, maxZoom: 20, minZoom: 3, zoomOffset: -1 });
        var splatterData = L.tileLayer(url, { id: "Splatter/Slippy", tileSize: 512, maxZoom: 20, minZoom: 3, zoomOffset: -1 });
        var splatterTiles = [];
        var mymap = L.map('mapid');
        baseData.addTo(mymap);
        splatterData.addTo(mymap);
        var currentColorId = -1;

        var autoRefresh = setInterval(redraw, 15000);

        splatterData.on('tileload', function (ev) {
            console.log("LOAD:");
            if (ev.coord == null)
                return;
            splatterTiles[ev.coords.x + "|" + ev.coords.y + "|" + ev.coord.z] = ev.tile;
        });
        splatterData.on('tileunload', function (ev) {
            console.log("UNLOAD:");
            if (ev.coord == null)
                return;
            delete splatterTiles[ev.coords.x + "|" + ev.coords.y + "|" + ev.coord.z];
        });

        var startLat = 0;
        var startLon = 0;
        fetch(baseSite + "/Server/ServerBounds", { headers: { 'PraxisAuthKey': serverKey } })
            .then(b =>
                b.text().then(bb => {
                    var points = bb.split("|");
                    for (var i = 0; i < 4; i++)
                        points[i] = points[i] * 1; //quick conversion to numbers from strings.
                    startLat = points[0] + (points[2] - points[0]) / 2;  //south + (north - south) / 2
                    startLon = points[1] + (points[3] - points[1]) / 2; //west + (east - west) / 2
                    console.log("Starting point set to " + startLat + "," + startLon + " from data " + bb);
                    mymap.setView([startLat, startLon], 15);
                })
            );

        // let textbox = L.Control.extend({
        //     onAdd: function () {
        //         var text = L.DomUtil.create('input');
        //         text.id = "txtSearch";
        //         text.placeholder = "PlusCode";
        //         return text;
        //     },

        // });
        // new textbox({ position: 'topleft' }).addTo(mymap);

        //The smaller widgets that get clicked. shows one color in a small box, set currentColorId to that id.
        let paletteBox = L.Control.extend({
            onAdd: function () {
                var div = L.DomUtil.create('div');
                L.DomUtil.addClass(div, "palette-entry");
                div.onclick = () => { currentColorId = this.colorId; stopPropagation(); };
                return div;
            },
        });

        //the div that holds all the color choice divs.
        let palette = L.Control.extend({
            onAdd: function () {
                var div = L.DomUtil.create('div');
                L.DomUtil.addClass(div, "palette");
                div.id = "palette"
                return div;
            },
        });

        var activePalette = new palette({ position: 'topleft' });
        activePalette.addTo(mymap);

        // let searchBtn = L.Control.extend({
        //     onAdd: function () {
        //         var btn = L.DomUtil.create('button');
        //         btn.id = "info_btn";
        //         btn.innerHTML = "Jump!";
        //         btn.onclick = () => {
        //             var tb = document.getElementById("txtSearch");
        //             var coord = OpenLocationCode.decode(tb.value);
        //             console.log(coord);

        //             mymap.setView([coord.latitudeCenter, coord.longitudeCenter], coord.codeLength + 9);
        //         };
        //         return btn;
        //     },

        // });
        //new searchBtn({ position: 'topleft' }).addTo(mymap);

        //TEST 
        fetch(baseSite + "/StyleData/json/splatter", { headers: { 'PraxisAuthKey': serverKey } })
            .then(s => s.json().then(ss => {
                //TODO: parse
                var palette = document.getElementById("palette");
                ss.paintOperations.forEach((p) => {
                    if (p.Name != "background") {
                        var colorBox = new paletteBox();
                        colorBox.colorId = p.Name;
                        palette.appendChild(colorBox);
                    }
                });
            });
        });

        mymap.on('click', function (mouseEvent) { 
            var plusCode = OpenLocationCode.encode(mouseEvent.latlng.lat, mouseEvent.latlng.lng);
            plusCode = plusCode.replace("+", "");
            console.log(plusCode);
            //now call splat. A Cell10 is about zoom 15.7, which is the radius of 1 on the game-side. 
            var radius = (15.7 / mymap._zoom) * (mymap._layersMaxZoom - mymap._zoom);
            //1 * 5 = 5, 1 * 4 = 4, .8 * 2 = 1.6, 8 * 18 = 144. Isn't right when zoomed out more.
            var scaleFactor2 = Math.max(1, 20 ^ (15 - mymap._zoom) / 4); //This might be big enough? zoom 2 = 20^3.
            radius *= scaleFactor2;
            
            fetch(baseSite + "/Splatter/FreeSplat/" + plusCode + "/" + radius + "/" + currentColorId, { method: "PUT", headers: { 'PraxisAuthKey': serverKey } })
                .then(s => s.text().then(ss => { 
                    //todo: get new tile here. we clicked, we know this one needs updated. TileEvent.coords would have what i want, but i got a mouseEvent.
                    //May just refresh the whole layer? I could invalidate the individual tile with its x/y/z coords and the array. Maybe mouseEvent.target has it?
                    redraw(); //This does make the screen blink a bit as tiles are dropped and reloaded
                }));

        });

        function redraw()
        {
            splatterData.setUrl(baseSite + '/Splatter/Slippy/{z}/{x}/{y}.png?PraxisAuthKey=' + serverKey + "&t=" + Date.now());
            splatterData.redraw();
        }

        function reloadOne(x, y, z) { 
            if (splatterTiles[x + "|" + y + "|" + z] != null)
            {
                splatterTiles[x + "|" + y + "|" + z].src += "&t=" + Date.now(); //TODO: may change this to reset value instead of appending a timestamp
            }
        }

    </script>
</body>
</html>