    Account ID:<input id="accountId" placeholder="accountid" style="width:300px;"> <br />
    Password:<input type="password" id="password" placeholder="password"  style="width:300px;"> <br />
<button id='btnLogin' onclick='Login()'>Login</button>
<br />
    <div id="responseMessage"></div> <br /><br />
    <div id="dataContent"></div> <br /><br />

    
    <button id='btnGetData' onclick='GetData()'>Get Data</button> <br />
    NOTE: Get Data will load all account specific data on your account and display it here in text format. 
    Items with [Decrypted] in the label are stored encrypted on the server, and cannot be decrypted by the game when you are not logged in or the server owner in any condition. 
    They are decrypted here for you because you are logged in and need to be able to view the data stored on you.
<br /><br />
    <button id='btnDeleteData' onclick='DeleteData()'>Delete All My Data</button> <br />
    <div id="actualDelete" style="display:none"> 
        Reminder: it's totally cool to exercise your rights to wipe all the stuff attached to your name off the server. Just be aware that this is entirely irreversible.
        You will not get to change your mind. There is no spare copy or backup to restore from. There is no 30 day grace period where I set a flag and pretend your data is deleted.
        You said you wanted to delete all your data off the server, and I believe you. Click the button below, and it's gone forever, for reals, no takebacks. 
        You'll have to make a new account if you want to resume playing games on this server, but I assume you're not going to.<br />
        <button id='btnDeleteData2' onclick='DeleteData2()'>I said 'Delete All My Data' and I meant it.</button> <br />
        <div id="delResponse"></div>
    </div>

<script type="text/javascript">
var baseSite = window.location.href.toLowerCase().replace("/server/gdpr", "");
var loginToken ="";

    function Login() {
        var txtAccount = document.getElementById("accountId").value;
        var txtPwd = document.getElementById("password").value;
        var data = { accountId: txtAccount, password: txtPwd, isGDPR:true };
        fetch(baseSite + "/Server/Login", { method:"PUT", body: JSON.stringify(data) })
            .then(b => {
                    console.log(b);
                    if (b.status == 204) { 
                        var txtMessage = document.getElementById("responseMessage");
                        txtMessage.innerHTML = "Access denied. Login failed.";
                    }
                    else
                    b.json().then(bb => {
                        loginToken = bb.authToken;
                        var txtMessage = document.getElementById("responseMessage");
                        txtMessage.innerHTML = "Access granted.";
                    });
            });
                
}

function GetData()
{
    fetch(baseSite + "/Server/GdprExport", { headers: { AuthKey: loginToken } })
        .then(b => {
            console.log(b);
            b.text().then(bb => {
                var datacontent = document.getElementById("dataContent");
                datacontent.innerHTML = bb.replaceAll("\r\n", "<br />");
            })
        });
}

function DeleteData() {
    var deldiv = document.getElementById("actualDelete");
    deldiv.style.display = "initial";
}

function DeleteData2() {
        fetch(baseSite + "/Server/Account", { method: "DELETE", headers: { AuthKey: loginToken } })
        .then(b => b.text().then(bb => { 
            console.log(bb);
            var deldiv = document.getElementById("actualDelete");
            if (bb == "0") {
               deldiv.innerHTML = "Error deleteing data. Nothing removed."
            }
            else {
               deldiv.innerHTML = "Success! " + bb + " rows deleted. You may close this page now."
            }
        }));
}
</script>
    
