<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
              integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
              crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                crossorigin=""></script>

    @* Local resource links, but I have yet to correctly get these to load and run.
        <link rel="stylesheet" href="~/Content/leaflet.css" />
        <script src="~/Scripts/leaflet.js"></script> *@
</head>
<body>
    <div id="mapid" style="height:100%">

    </div>
    <script type="text/javascript">
        var url = '/MapTile/DrawSlippyTile/{x}/{y}/{z}/{id}'
        var baseData = L.tileLayer(url, {id: 1, tileSize:512, maxZoom: 20, minZoom: 9, zoomOffset: -1 })
        var ptt = L.tileLayer(url, { id: 2, tileSize: 512, maxZoom: 20, minZoom: 9, zoomOffset: -1 })
        var ac = L.tileLayer(url, { id: 3, tileSize: 512, maxZoom: 20, minZoom: 9, zoomOffset: -1 })
        var generated = L.tileLayer(url, { id: 4, tileSize: 512, maxZoom: 20, minZoom: 9, zoomOffset: -1 })
        var adminBounds = L.tileLayer(url, { id: 6, tileSize: 512, maxZoom: 20, minZoom: 9, zoomOffset: -1 })

        var baseLayers = {
            "Base Data": baseData,
        };
        var overlays = {
            "Paint The Town": ptt,
            "Area Control": ac,
            "Server-Generated": generated,
            "Admin Boundaries": adminBounds
        };

    var mymap = L.map('mapid').setView([41.503425, -81.698995], 13);
    L.tileLayer('/MapTile/DrawSlippyTile/{x}/{y}/{z}/1', {
    maxZoom: 20,
    minZoom: 9,
    zoom: 12,
    id: 'none',
    tileSize: 512,
    zoomOffset: -1,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery via <a href= "https://github.com/drakewill-crl/PraxisMapper">PraxisMapper</a>',
    accessToken: 'none'
    }).addTo(mymap);

        L.control.layers(baseLayers, overlays).addTo(mymap);
    </script>
</body>
</html>