<html>
<head>
    @*<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
              integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
              crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                crossorigin=""></script>*@

    @* Local resource links *@
        <link rel="stylesheet" href="~/Content/leaflet.css" />
        <script src="~/Content/Scripts/leaflet.js"></script> 
</head>
<body>
    <div id="mapid" style="height:100%">

    </div>
    <script type="text/javascript">
    var serverKey = "testingKey"; //TODO: lock this page to only localhost or find an alternate way to obfuscate this.
        var baseSite = window.location.href.replace("/slippy", "");
        var url = baseSite + '/{id}/{z}/{x}/{y}.png?PraxisAuthKey=' + serverKey;
        var baseData = L.tileLayer(url, {id: "MapTile/DrawSlippyTile", tileSize:512, maxZoom: 20, minZoom: 5, zoomOffset: -1 });
        var ptt = L.tileLayer(url, { id: "MapTile/SlippyAreaData/paintTown/color", tileSize: 512, maxZoom: 20, minZoom: 5, zoomOffset: -1 });
        //var ptt = L.tileLayer(url, { id: "PaintTown/DrawSlippyTile", tileSize: 512, maxZoom: 20, minZoom: 9, zoomOffset: -1 });
        var ac = L.tileLayer(url, { id: "AreaControl/DrawFactionModeSlippyTile", tileSize: 512, maxZoom: 20, minZoom: 5, zoomOffset: -1 });
        var generated = L.tileLayer(url, { id: "", tileSize: 512, maxZoom: 20, minZoom: 5, zoomOffset: -1 });
        var adminBounds = L.tileLayer(url, { id: "MapTile/DrawSlippyTile/adminBounds", tileSize: 512, maxZoom: 20, minZoom: 5, zoomOffset: -1 });
        var adminBounds2 = L.tileLayer(url, { id: "", tileSize: 512, maxZoom: 20, minZoom: 5, zoomOffset: -1 });
        var baseDataTEstV4 = L.tileLayer(url, { id: "", tileSize: 512, maxZoom: 20, minZoom: 5, zoomOffset: -1 });
        var offlineEstimateAreas = L.tileLayer(url, { id: "", tileSize: 512, maxZoom: 20, minZoom: 5, zoomOffset: -1 });
        var outlineAll = L.tileLayer(url, { id: "MapTile/DrawSlippyTile/outlines", tileSize: 512, maxZoom: 20, minZoom: 5, zoomOffset: -1 });

        //var baseLayers = {
        //    "Base Data": baseData,
        //    "Base Data TestV4": baseDataTEstV4,
        //};
        var overlays = {
            "Paint The Town": ptt,
            "Area Control": ac,
            //"Server-Generated": generated,
            "Admin Boundaries": adminBounds,
            "Outline All Items": outlineAll
            //"Other Admin Boundaries": adminBounds2,
            //"Offline Estimates": offlineEstimateAreas
        };

        var startLat = 0;
        var startLon = 0;
        var mymap = L.map('mapid'); 
        fetch(baseSite +  "/Data/GetServerBounds", {headers : {'PraxisAuthKey':serverKey}})
        .then(b =>
            b.text().then(bb => {
                var points = bb.split("|"); 
                for(var i = 0; i < 4; i++)
                    points[i] = points[i] * 1; //quick conversion to numbers from strings.
                startLat = points[0] + (points[2] - points[0]) / 2; 
                startLon = points[1] + (points[3] - points[1]) / 2;
                mymap.setView([startLat, startLon], 15);
            })
        );
        
    L.tileLayer(baseSite + '/MapTile/DrawSlippyTile/mapTiles/{z}/{x}/{y}.png?PraxisAuthKey=' + serverKey, {
    maxZoom: 20,
    minZoom: 5,
    zoom: 15,
    id: 'mapTiles',
    tileSize: 512,
    zoomOffset: -1,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery via <a href= "https://github.com/drakewill-crl/PraxisMapper">PraxisMapper</a>',
    accessToken: 'none'
    }).addTo(mymap);

        L.control.layers('', overlays).addTo(mymap);
    </script>
</body>
</html>