<html>
<head>
</head>
<body>
    <br />
    <h1>Admin View</h1>
    <br />
    <br />
    @Html.ActionLink("Expire all maptiles now", "ExpireTiles", "AdminView")
    <br />
    <br />
    @Html.ActionLink("Reset Styles to defaults", "ResetStyles", "AdminView")
    <br />
    <br />



 
    <br />
</body>
</html>