<html>
<head>
</head>
<body>
    Admin View <br />

    Scavenger hunt list <br />

    Selected hunt entries <br />

    Expire all maptiles here <br />

    Edit custom geography objects <br />

    Edit creatures/rules for creature collector mode <br />
</body>
</html>