[Unit]
Description=PraxisMapper
[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/PraxisMapper/PraxisMapper
WorkingDirectory=/PraxisMapper/
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
Environment=DOTNET_ROOT=/dotnet
Environment=LD_LIBRARY_PATH=/libicu/lib
Environment=DOTNET_CLI_HOME=/dotnet